# Ignore everything in the root directory
/*

# Allow only these top-level directories and their contents
!/arduino/
!/arduino/**

!/bridge/
!/bridge/**

!/model/
!/model/**

# Keep .gitignore itself tracked
!/.gitignore
